// only required if you are using the icons-far or icons-fab feature
$fa-font-path: "webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

// PatternFly styles
@import "../node_modules/@patternfly/patternfly/patternfly.scss";
@import "../node_modules/@patternfly/patternfly/patternfly-addons.scss";

$geckoRowHeaderSize: 4em;
$geckoTextColor: #51ACA3;
$geckoCheckerColor: #59A69C;

h1 {
    font-size: large;
}

.Gecko {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Topic {
        table-layout: fixed;

        h1 {
            color: $geckoTextColor;
            font-weight: bold;
            font-size: $geckoRowHeaderSize;
            text-align: center;
        }

        thead {
            border: 1px solid;
            border-bottom: none;
        }

        tbody {
            border: 1px solid;
            border-top: none;
        }

        th {
            color: $geckoTextColor;
            font-size: $geckoRowHeaderSize;
            text-align: center;
        }

        td {
            font-size: 2em;
            text-align: center;
            padding: 10px;
        }

        tbody tr:nth-child(odd) td:nth-child(even),
        tbody tr:nth-child(even) td:nth-child(odd):not(:first-child) {
            background-color: $geckoCheckerColor;
        }

        td:first-child {
            font-weight: bold;
            color: $geckoTextColor;
            // background-color: transparent !important;
            font-size: 4em;
            padding-right: 15px;
        }

        td:not(:first-child) {
            width: 150px;
            height: 100px
        }
    }

    button {
        margin-top: 1em;
    }
}